{% extends "base.html" %}
{% block content %}
<h2>Exchange Proposals</h2>
<form class="row g-3 mb-3" method="get">
    <div class="col">
        <input type="text" name="sender" class="form-control" placeholder="Sender Username" value="{{ request.GET.sender }}">
    </div>
    <div class="col">
        <input type="text" name="receiver" class="form-control" placeholder="Receiver Username" value="{{ request.GET.receiver }}">
    </div>
    <div class="col">
        <select name="status" class="form-select">
            <option value="">Status</option>
            <option value="pending" {% if request.GET.status == 'pending' %}selected{% endif %}>Pending</option>
            <option value="accepted" {% if request.GET.status == 'accepted' %}selected{% endif %}>Accepted</option>
            <option value="rejected" {% if request.GET.status == 'rejected' %}selected{% endif %}>Rejected</option>
        </select>
    </div>
    <div class="col">
        <button class="btn btn-secondary">Filter</button>
    </div>
</form>
<ul class="list-group">
    {% for proposal in proposals %}
    <li class="list-group-item">
        <strong>From:</strong> {{ proposal.ad_sender.title }} ({{ proposal.ad_sender.user.username }}) <br>
        <strong>To:</strong> {{ proposal.ad_receiver.title }} ({{ proposal.ad_receiver.user.username }}) <br>
        <strong>Status:</strong> {{ proposal.get_status_display }}<br>
        <strong>Comment:</strong> {{ proposal.comment }}<br>
       {% if user.is_authenticated and proposal.ad_receiver.user == user %}
            <a class="btn btn-sm btn-outline-primary" href="{% url 'update_proposal' proposal.id %}">Update Status</a>
        {% elif user.is_authenticated and proposal.ad_sender.user == user %}
            <a class="btn btn-sm btn-outline-primary" href="{% url 'update_proposal' proposal.id %}">Update Status</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}